canvas {
    width: 100%
}

header {
    background-color: #468;
    color: #fff; 
    padding: 10px;
    background-image: url("./img/shapelogicsmalltransparent.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    height: 100px;
}
header>p{
    font-size: large;
}